@import 'mixins';
@import 'vars';

.coffee-house-path {
    background-color: $brown;
    padding: 1.2rem 1rem;
    box-shadow: inset 0px 0px 12px 0px rgba(0,0,0,0.45);
    -webkit-box-shadow: inset 0px 0px 12px 0px rgba(0,0,0,0.45);
    -moz-box-shadow: inset 0px 0px 12px 0px rgba(0,0,0,0.45);
    .path {
        text-align: center;
        text-transform: uppercase;
    }
}

.coffee-house-about-us {
    @include text-black;
    @include text-font;
    margin-top: 4rem;
    margin-bottom: 4rem;
    .about-us {
        hr {
            margin: 2rem auto;
        }
        p {
            width: 60%;
            margin: 0 auto 1rem auto;
        }
        .images {
            @include flex (row, no-wrap, space-between);
            margin: 2rem auto;
            width: 60%;
            figure {
                &:last-child {
                    @include flex (row, no-wrap, flex-end);
                }
                img {
                    width: 95%;
                }
            }
        }
    }
}