@import 'mixins';
@import 'vars';

.coffee-house-blog-blog {
    @include text-black;
    @include text-font;
    margin-top: 3rem;    
    hr {
        margin: 2rem auto;
    }
    p {
        text-align: center;
        width: 60%;
        margin: 0 auto 2rem auto;
    }
    .blog-blogs {
        @include flex (row, wrap, space-between);
        .blog-item {
            width: 45%;
            box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.45);
            -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.45);
            -moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.45);
            margin-bottom: 3rem;
            margin-top: 2rem;
            figure {
                img {
                    width: 100%;
                    height: auto;
                }
            }
            h3 {
                font-family: $main-info-font;
                font-size: 1.1rem;
                text-align: center;
                text-transform: uppercase;
                font-weight: 800;
                margin: 1.5rem auto;
                width: 90%;
            }
            p {
                width: 90%;
                text-align: justify;
            }
            .item-imp-info {
                @include flex (row, no-wrap, space-between);
                width: 90%;
                margin: 1rem auto;
                .item-date {
                    font-weight: 800;
                }
                a {
                    text-decoration: none;
                    .btn {
                        background-color: $brown;
                        height: 2rem;
                        padding: 0 1rem;
                        text-decoration: none;
                        border-radius: 5rem;
                        transition: all .3s;
                        p {
                            text-decoration: none;
                            text-transform: uppercase;
                            color: $white;
                            padding-top: .5rem;
                        }
                    }
                    &:hover, &:active {
                        .btn {
                            background-color: $darkbrown;
                            transition: all .3s;
                        }
                    }
                }
            }
        }
    }
}

.coffee-house-blog-inside {
    @include text-black;
    @include text-font;
    margin-top: 3rem;
    .blog-inside {
        width: 50% !important;
        hr {
            margin: 2rem auto;
        }
        .blog-inside-date {
            text-align: center;
            font-weight: 800;
            font-size: .9rem;
        }
        .blog-article {
            p {
                margin: 1rem auto;
            }
            figure {
                img {
                    width: 100%;
                    height: auto;
                }
            }
            .blockquote-quote {
                margin: 3rem auto 5rem auto;
                width: 70%;
                font-weight: 700;
                font-style: italic;
                &::before {
                    content: "``";
                    color: $brown;
                    font-weight: bold;
                    font-size: 3rem;
                    position: absolute;
                    left: 25%;
                }
                &::after {
                    content: "``";
                    color: $brown;
                    width: 2rem;
                    font-weight: bold;
                    font-size: 3rem;
                    position: absolute;
                    right: 25%;
                }
                .quote-citation {
                    display: block;
                    color: $black;
                    text-align: right;
                    font-weight: 300;
                }
            }
            .blog-inside-imgs {
                @include flex (row, no-wrap, space-between);
                img {
                    width: 95%;
                }
            }
        }
    }
}