@import 'mixins';
@import 'vars';

html {
    color: $white;
    font-size: 18px;

    h1 {
        font-family: $important-info-font;
    }

    h2 {
        font-family: $important-info-font;
        font-size: 2.5rem;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
    }

    p {
        font-family: $main-info-font;
    }

    hr {
        width: 20%;
        height: 2px;
        background-color: $black;
        border-radius: 2rem;
    }
    
    figcaption {
        display: none;
    }
}

header {
    background-color: $black;
}

.navbar {
    @include flex(row, no-wrap, space-between);
    width: 80%;
    margin: 0 auto;

    .cafe-logo {
        font-family: $main-info-font !important;
        color: $brown;
        font-size: 1.5rem;
        font-style: italic;
        @include flex(column, no-wrap, center);
        width: 20%;
        margin: 1rem auto;
    }

    nav {
        width: 80%;
        
        ul {
            @include flex (row, no-wrap, flex-end);
            align-items: center;
            align-content: center;

            li {
                margin: 1rem;
                text-transform: uppercase;
                font-family: $important-info-font;

                a {
                    color: $white;
                    text-decoration: none;
                    transition: all .3s;
                    &:hover {
                        color: $brown;
                        transition: all .3s;
                    }
                    &:active {
                        color: $brown;
                        transition: all .3s;
                    }
                    &:visited {
                        color: $lightgray;
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .lang {
        @include flex (row, no-wrap, center);
        position: fixed;
        right: 2rem;
        top: 1rem;
        background-color: $darkbrown;
        height: 4rem;
        width: 2rem;
        padding: 0 1rem;
        align-items: center;
        align-content: center;
        border-radius: 2rem;
        p {
            a {
                color: $white;
                text-decoration: none;
                transition: all .3s;

                &:hover {
                    color: $black;
                    transition: all .3s;
                }
                &:active {
                    color: $black;
                    transition: all .3s;
                }
            }
        }
        hr {
            width: 1px;
            height: .7rem;
            margin: auto .2rem;
            background-color: $white;
            border-color: $white;
        }
    }
}

section > div {
    width: 80%;
    margin: 0 auto;;
}

.coffee-house-starting-page {
    background-color: $lightbeige;
    width: 98.9vw;
    height: 93vh;
}

.starting-page {
    @include flex(row, no-wrap, space-between);
    @include text-black;
    @include text-font;

    .info {
        width: 43%;
        h1 {
            font-size: 3rem;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 1rem;
        }
        .main-info {
            @include flex (column, no-wrap, flex-start);
            padding: 8rem 0;
            height: calc(93vh - 2*8rem);
            p {
                font-weight: 600;
            }

            a {
                margin: 10rem 0;
                text-decoration: none;
                text-transform: uppercase;
                transition: all .3s;
                width: 40%;
                border-radius: 2rem;

                &:hover {
                    .btn {
                        background-color: $lightbrown;
                        transition: all .3s;
                        p {
                            color: $black;
                            transition: all .3s;
                        }
                    }
                }
                &:active {
                    .btn {
                        background-color: $lightbrown;
                        transition: all .3s;
                        p {
                            color: $black;
                            transition: all .3s;
                        }
                    }
                }

                .btn {
                    background-color: $brown;
                    width: 100%;
                    text-align: center;
                    border: 1px solid $darkbrown;
                    border-radius: 2rem;
                    box-shadow: -72px -71px 400px -55px rgba(0,0,0,0.75);
                    -webkit-box-shadow: -72px -71px 400px -55px rgba(0,0,0,0.75);
                    -moz-box-shadow: -72px -71px 400px -55px rgba(0,0,0,0.75);
                    transition: all .3s;
                    p {
                        color: $white;
                        padding: 1rem;
                        transition: all .3s;
                    }
                }
            }
        }
    }

    .hours-address {
        width: 57%;
        height: 93vh;
        @include bg-img ($index-main-img, no-repeat, cover);
        @include flex (row, no-wrap, flex-start);
        align-items: end;

        article {
            width: 50%;
            height: 35%;
            @include flex (column, no-wrap, center);
            &:first-child {
                background-color: $black;
            }
            &:last-child {
                background-color: $brown;
            }
            h3, p {
                color: $white;
            }
            h3 {
                font-family: $important-info-font;
                font-size: 1.5rem;
                font-weight: 700;
                text-transform: uppercase;
                text-align: center;
            }
            hr {
                width: 50%;
                height: 1px;
                color: $white;
                background-color: $white;
                border-radius: 2rem;
                margin: 1rem auto;
            }
            p {
                text-align: center;
                font-size: .9rem;
                font-weight: 200;
                margin-top: .5rem;
            }
        }
    }
}

.our-story {
    @include text-black;
    padding: 2rem 0;
    @include flex (row, no-wrap, space-between);

    .info {
        @include flex (column, no-wrap, center);
        width: 50%;
        padding-right: 2rem;
        hr {
            margin: 2rem auto;
        }
        p {
            text-align: center;
            line-height: 1.5rem;
        }
        a {
            text-decoration: none;
            text-transform: uppercase;
            width: 30%;
            margin: 2rem auto 0 auto;

            &:hover {
                p {
                    color: $darkbrown;
                    transition: all .3s;
                }
            }
            &:active {
                p {
                    color: $darkbrown;
                    transition: all .3s;
                }
            }

            p {
                color: $brown;
                font-weight: 600;
                transition: all .3s;
            }
        }
    }

    .imgs {
        width: 50%;
        padding-left: 2rem;
        @include flex (row, wrap, flex-start);

        figure {
            width: 40%;
            height: 40%;
            background-color: cadetblue;
            margin: .5rem 1rem;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

.coffee-house-coffee-brands {
    width: 98.9vw;
    background-color: $brown;
    @include flex (row, no-wrap, center);

    .coffee-brands {
        width: 98.9vw;
        @include flex (row, no-wrap, center);
        align-items: center;
        align-content: center;

        figure {
            width: 50%;
            @include flex (row, no-wrap, center);
        }

        img {
            width: 30%;
            padding: 2rem;
        }
    }
}

.menu {
    @include text-black;
    padding-top: 5rem;

    hr {
        margin: 2rem auto 4rem auto;
    }

    .items {
        @include flex (row, wrap, space-between);

        .item {
            width: 21%;

            .item-info {
                @include flex (row, no-wrap, space-between);
                margin: 1rem auto 3rem auto;

                p {
                    font-size: 1.1rem;
                    &:last-child {
                        font-weight: 800;
                    }
                }
            }

            img {
                width: 100%;
                height: 100%;
            }

            &:last-child {
                background-color: $brown;
                width: 19vw;
                height: 19vw;
                @include flex (column, no-wrap, center);
                align-items: center;
                align-content: center;
                text-align: center;
                font-family: $main-info-font;
                text-transform: uppercase;

                a {
                    font-weight: 700;
                    text-decoration: none;
                    color: $white;
                    transition: all .3s;

                    &:hover {
                        color: $black;
                        transition: all .3s;
                    }
                    &:active {
                        color: $black;
                        transition: all .3s;
                    }
                }
            }
        }
    }
}

.coffee-house-croissants-discount {
    @include bg-dark ($index-discount, cover);
    width: 100%;
    height: 75vh;
    @include text-font;
    h3 {
        text-transform: uppercase;
        font-size: 3rem;
        width: 60%;
        font-weight: 600;
        line-height: 4.5rem;
        padding: 2rem 0 3rem 0;
    }
    a {
        display: block;
        text-decoration: none;
        color: $white;
        text-transform: uppercase;
        font-weight: 500;
        transition: all .3s;
        width: 15%;
        .btn {
            background-color: $brown;
            padding: 1rem 1.5rem;
            width: 100%;
            @include flex (column, no-wrap, center);
            align-items: center;
            align-content: center;
            border-radius: 2rem;
            transition: all .3s;
        }
        &:hover {
            color: $darkbrown;
            transition: all .3s;
            .btn {
                background-color: $lightbeige;
                transition: all .3s;
            }
        }
    }
}

.advantages {
    @include text-black;
    color: $black;
    padding: 3rem 0;
    hr {
        margin: 2rem auto;
    }
    .items {
        @include flex (row, no-wrap, space-between);
        .item {
            margin: 0 1rem;
            text-align: center;
            i {
                color: $brown;
                font-size: 3rem;
                margin: 1rem auto 1.5rem auto;
            }
            p {
                line-height: 1.5rem;
            }
            p.heading {
                text-transform: uppercase;
                font-weight: 800;
                margin-bottom: .5rem;
            }
        }
    }
    .discounts {
        @include flex (row, no-wrap, space-between);
        align-content: center;
        align-items: center;
        .discount {
            width: 51%;
            padding: 4rem 0;
            margin-top: 3rem;
            @include flex (column, no-wrap, space-between);
            align-content: center;
            align-items: center;
            &:first-child {
                background-color: $brown;
            }
            &:last-child {
                @include bg-dark ($index-latte, cover);
                a {
                    background-color: $brown;
                    p {
                        color: $white;
                    }
                    &:hover {
                        background-color: $white;
                        transition: all .3s;
                        p {
                            color: $brown;
                            transition: all .3s;
                        }
                    }
                    &:active {
                        background-color: $white;
                        transition: all .3s;
                        p {
                            color: $brown;
                            transition: all .3s;
                        }
                    }
                }
            }
            .name {
                font-family: $important-info-font;
                font-weight: 700;
                color: $white;
                font-size: 2rem;
                text-transform: uppercase;
            }
            hr {
                background-color: $white;
                border-color: $white;
                border-radius: 2rem;
                margin: 3rem auto;
            }
            a {
                display: block;
                background-color: $white;
                padding: 1rem 1.5rem;
                border-radius: 2rem;
                text-decoration: none;
                text-transform: uppercase;
                transition: all .3s;
                p {
                    color: $brown;
                    transition: all .3s;
                }
                &:hover {
                    background-color: $darkbrown;
                    transition: all .3s;
                    p {
                        color: $white;
                        transition: all .3s;
                    }
                }
                &:active {
                    background-color: $darkbrown;
                    transition: all .3s;
                    p {
                        color: $white;
                        transition: all .3s;
                    }
                }
            }
        }
    }
}