// FONTS
$important-info-font: 'Neuton', serif;
$main-info-font: 'Nunito', sans-serif;

// COLORS
$brown: #C19B61;
$black: #252525;
$white: #FFFFFF;

// IMAGES
// index
$index-main-img: url('../../assets/imgs/index/main-page-coffee.jpg');
// $index-story-1: url('../../assets/imgs/index/barista.jpg');
// $index-story-2: url('../../assets/imgs/index/bakery-photo.jpg');
// $index-story-3: url('../../assets/imgs/index/dough-making.jpg');
// $index-story-4: url('../../assets/imgs/index/coffe-pouring.jpg');
// $index-menu-1: url('../../assets/imgs/index/vanilla-latte.jpg');
// $index-menu-2: url('../../assets/imgs/index/cinnamon-latte.jpg');
// $index-menu-3: url('../../assets/imgs/index/iced-vanilla-latte.jpg');
// $index-menu-4: url('../../assets/imgs/index/cappuccino.jpg');
// $index-menu-5: url('../../assets/imgs/index/strawberry-iced-latte.jpg');
// $index-menu-6: url('../../assets/imgs/index/caramel-latte.jpg');
// $index-menu-7: url('../../assets/imgs/index/latte-macchiato.jpg');
$index-croissant-main: url('../../assets/imgs/index/croissants.jpg');
$index-discount: url('../../assets/imgs/index/latte-on-the-desk.jpg');
// $index-week-1: url('../../assets/imgs/index/cup-of-latte.jpg');
// $index-week-2: url('../../assets/imgs/index/croissant-cut-in-two.jpg');
// $index-week-3: url('../../assets/imgs/index/cookies-with-chocolate.jpg');
// $index-reviews-1: url('../../assets/imgs/index/profile-picture-girl.jpg');
// $index-reviews-2: url('../../assets/imgs/index/profile-picture-girl-2.jpg');
// $index-reviews-3: url('../../assets/imgs/index/profile-picture-boy.jpg');
// $index-team-1: url('../../assets/imgs/index/barista-1.jpg');
// $index-team-2: url('../../assets/imgs/index/barista-2.jpg');
// $index-team-3: url('../../assets/imgs/index/barista-3.jpg');
// $index-team-4: url('../../assets/imgs/index/barista-4.jpg');
$index-recipes-1: url('../../assets/imgs/index/cinnamon-latte-in-hands.jpg');
$index-recipes-2: url('../../assets/imgs/index/croissant-with-strawberries.jpg');
$index-recipes-3: url('../../assets/imgs/index/cup-of-cinnamon-coffee.jpg');
$index-blog-1: url('../../assets/imgs/index/hot-coffee-with-notebook.jpg');
$index-blog-2: url('../../assets/imgs/index/coffee-with-notebooks.jpg');
$index-subscribe: url('../../assets/imgs/index/coffee-beans-in-big-pot.jpg');
$index-reserve: url('../../assets/imgs/index/three-cups-of-coffee.jpg');
$index-events-1: url('../../assets/imgs/index/table-at-the-coffee-shop.jpg');
$index-events-2: url('../../assets/imgs/index/table-at-the-coffee-shop-2.jpg');