// FONTS
$important-info-font: 'Neuton', serif;
$main-info-font: 'Nunito', sans-serif;

// COLORS
$brown: #C19B61;
$black: #252525;
$white: #FFFFFF;
$lightgray: #D3D3D3;
$lightbeige: #F4EDE3;
$darkbrown: #8f682d;
$lightbrown: #f0ce9a;

// IMAGES
// index
$index-main-img: url('../../assets/imgs/index/main-page-coffee.jpg');
$index-latte: url('../../assets/imgs/index/latte-on-the-table.jpg');
$index-discount: url('../../assets/imgs/index/croissant-on-the-table.jpg');
$index-recipes-1: url('../../assets/imgs/index/cinnamon-latte-in-hands.jpg');
$index-recipes-2: url('../../assets/imgs/index/croissant-with-strawberries.jpg');
$index-recipes-3: url('../../assets/imgs/index/cup-of-cinnamon-coffee.jpg');
$index-blog-1: url('../../assets/imgs/index/hot-coffee-with-notebook.jpg');
$index-blog-2: url('../../assets/imgs/index/coffee-with-notebooks.jpg');
$index-subscribe: url('../../assets/imgs/index/coffee-beans-in-big-pot.jpg');
$index-events-1: url('../../assets/imgs/index/table-at-the-coffee-shop.jpg');
$index-events-2: url('../../assets/imgs/index/table-at-the-coffee-shop-2.jpg');